In [ ]:
question 1.

In [5]:
def grade(score):
    if score > 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 60:
        return "C"
    else:
        return "D"

score = int(input("Enter your score: "))
grade = grade(score)
print("Your grade is:", grade)

Enter your score: 86
Your grade is: B

In [ ]:
question 2.

In [6]:
def calculate_tax(price):
    if price > 100000:
        return"15%"
    elif price >= 50000:
        return"10%"
    else:
        return "5%"
    

price = float(input("Enter the price of the bike: "))
tax = calculate_tax(price)
print("The tax for the bike is:", tax)

Enter the price of the bike: 65000
The tax for the bike is: 10%

In [ ]:
question 3.

In [7]:
def monument(city):
    if city == "delhi":
        return "Red Fort"
    elif city == "agra":
        return "Taj Mahal"
    elif city == "jaipur":
        return "Jal Mahal"

city = input("Enter a city: ").lower()
monument = monument(city)
print("The monument in", city, "is:", monument)

Enter a city: Delhi
The monument in delhi is: Red Fort

In [ ]:
question 4.

In [8]:
def count_divisions(num):
    count = 0
    while num >= 10:
        num = num / 3
        count += 1
    return count

num = int(input("Enter a number: "))
divisions = count_divisions(num)
print(num,"can be divided by 3,", divisions,"times until it's equal to or less than 10.")

Enter a number: 555
555 can be divided by 3, 4 times until it's equal to or less than 10.

In [ ]:
Question 5. Why and when to use while loop in python give a detail description with example.

In [ ]:
A while loop in Python is used to repeatedly execute a block of code as long as a certain condition is true.
The condition is evaluated before each iteration of the loop, and if it is True, the code inside the loop will be executed. If the condition is False,
the loop will stop and execution will continue with the next statement after the loop.
Example:-
counter = 1
# Using while loop
while counter <= 10:
    print(counter)
    counter = counter + 1
In the above example, the while loop is used to repeatedly print the value of the counter variable as long as it is less than or equal to 10.
The counter is incremented by 1 after each iteration to eventually reach 10 and the loop stops.

In [ ]:
Question 6. use nested while loop to print 3 diifferent patterns.

In [1]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end=" ")
        j = j + 1
    print("")
    i = i + 1

*
* *
* * *
* * * *
* * * * *

In [2]:
i = 1
while i <= 5:
    j = 1
    while j <= 5 - i:
        print(" ", end=" ")
        j = j + 1
    k = 1
    while k <= i:
        print("*", end=" ")
        k = k + 1

    print("")
    i = i + 1

        *
      * *
    * * *
  * * * *
* * * * *

In [3]:
i = 5
while i >= 1:
    j = 1
    while j <= 5 - i:
        print(" ", end=" ")
        j = j + 1
    k = 1
    while k <= i:
        print("*", end=" ")
        k = k + 1

    print("")
    i = i - 1

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
Question 7. Reverse while loop to display number 10 to 0.

In [4]:
counter = 10
while counter >= 0:
    print(counter)
    counter = counter - 1

10
9
8
7
6
5
4
3
2
1
0